{{template "header" .}}
<body>
    <h1 style="align-content: center; text-align: center">
        {{.Body.Text1}}
    </h1>
    <h2 style="align-content: center; text-align: center">
        {{.Body.Text2}}
    </h2>
</body>
{{template "footer" .}}